<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"href="https://fonts.googleapis.com/css2?family=Klee+One&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title><%= title %></title>
</head>
<body>
    <nav>
        <%- include('partials/header'); %>
    </nav>
    
    <div class="container">
        <table class="table table-dark table-hover">
            <thead>
                <tr >
                    <th>Name</th>
                    <th>Platform</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach(item => { %>
                    <tr >
                        <td><%= item.name_jp %></td>
                        <td><%= item.platform %></td>
                        <td><%= item.status %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    
</body>
</html>



